<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN PAGE</title>
        <link ref = "stylesheet" type = "text/css" href=".. /static/style.css">
    </head>
    <body>
        <header>
            <div class = "main">
                <ul>"
                    <li class="active"><a href="/">home</a></li>
                    </ul>
                </div>
            <div class="Title">
                <h1> HELLO PLEASE LOG IN AGAIN!</h1>
                </div>
                <div class = "login">
                    <h1>LOGIN PAGE</h1>
                    <form>
                        <p>USERNAME</p>
                        <input type = "text" name = "" placeholder="Enter your Username">
                        
                        <p>PASSWORD</p>
                        <input type="password" name = "" placeholder="Enter your Password">

                        <input type="submit" value="Login">
                        <a href="#">Forgot Password?</a>><br>

                        <a href="#">Create a New Account or Register Now!</a>
                    </form>
                </div>
        </header>
    </body>
</html>