<html>
    <head>
        <title> REGISTRATION PAGE</title>
        <link rel = "stylesheet" type = "text/css" href=".. /static/style.css">
    </head>
    <body>
        <header>
            <div class = "main">
                <ul>
                    <li class = "active"><a href="/">Home</a> </li>
                </ul>
            </div>

            <div class = "title">
                <h1>REGISTRATION FORM</h1>
            </div>
            <div class = "Login">
                <h1>Create New Account</h1>
                <form>
                    <p>FIRST NAME</p>
                    <input type = "text" name = "" placeholder="Enter Your First Name">

                    <p>LAST NAME</p>
                    <input type = "text" name = "" placeholder="Enter Your Last Name">

                    <p>USERNAME</p>
                    <input type = "text" name = "" placeholder="Enter Your UserName">

                    <p>PASSWORD</p>
                    <input type = "text" name = "" placeholder="Enter Your Password">

                    <div class = "button">
                        <a href="/" class="btn">Login</a>
                    </div>
                    </form>
            </div>
        </header>
    </body>   
</html>